@model IEnumerable<YellowStone.Models.Role>


<table class="table" style="border:1px #455a64 ridge; border-radius:5px;">
    <thead>
        <tr>
            <th class="right">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="right">
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th class="right">
                @*<button type="button" id="BtnAddRole" class="btn-details" data-toggle="modal" data-target="#RoleModal" style="cursor:pointer; font-weight:100">
                    Add Role
                </button>*@
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="right">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="right">
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td class="right">
                    @Html.ActionLink("Delete", null, null, null, new { onclick = "return saveRole(" + item.Id + ", 'delete');", @style="text-decoration:underline;"  })
                </td>
            </tr>
        }
    </tbody>
</table>