@model YellowStone.Web.ViewModels.WalletLinkingViewModel
@using Microsoft.Extensions.Options
@using YellowStone.Services
@using YellowStone.Services.WalletService
@inject IOptions<SystemSettings> options
@inject IOptions<WalletServiceSettings> walletOptions
@inject YellowStone.Services.IAppConfig appConfig


<input type="hidden" value="@Model.WalletInfoViewModel.WalletId" id="walletId" />

<div class="card">
    <h5 class="card-header">Wallet Information</h5>
    <div class="card-body">
        @if (Model != null && Model.WalletInfoViewModel.IsSuccessful)
        {
            <form>
                <div class="form-group row">
                    <label for="wallet-id" class="col-sm-6 col-form-label">Wallet ID</label>
                    <div class="col-6">
                        <input type="text" readonly class="form-control-plaintext" id="wallet-id" value="@Model.WalletInfoViewModel.WalletId" disabled>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="wallet-account-name" class="col-sm-6 col-form-label">Account Name</label>
                    <div class="col-6">
                        <input type="text" readonly class="form-control-plaintext" id="wallet-account-name" value="@Model.WalletInfoViewModel.AccountName" disabled>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="wallet-phonenumber" class="col-sm-6 col-form-label">Phone Number</label>
                    <div class="col-6">
                        <input type="text" readonly class="form-control-plaintext" value="@Model.WalletInfoViewModel.WalletId" id="wallet-phonenumber" disabled>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="wallet-email" class="col-sm-6 col-form-label">Email Address</label>
                    <div class="col-6">
                        <input type="text" readonly class="form-control-plaintext" value="@Model.WalletInfoViewModel.Email" id="wallet-email" disabled>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="wallet-type" class="col-sm-6 col-form-label">Wallet Type</label>
                    <div class="col-6">
                        <input type="text" readonly class="form-control-plaintext" value="@Model.WalletInfoViewModel.WalletType" id="wallet-type" disabled>
                    </div>
                </div>

            </form>
        }
        <br />
    </div>
</div>

<br />
<br />
<br />

<div class="card">
    <h5 class="card-header">Account Information</h5>
    <div class="card-body">
        @if (Model != null && Model.AccountDetailsViewModel.IsSuccessful)
        {
            <form>
                <div class="form-group row">
                    <label for="lblAccountNumber" class="col-sm-6 col-form-label">Account Number</label>
                    <div class="col-6">
                        <label name="lblAccountNumber" id="lblAccountNumber" class="form-control-plaintext"> @Model.AccountDetailsViewModel.AccountNumber </label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lblAcctName" class="col-sm-6 col-form-label">Account Name</label>
                    <div class="col-6">
                        <label name="lblAcctName" class="form-control-plaintext" id="lblAcctName"> @Model.AccountDetailsViewModel.AccountName</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lblEmailAddress" class="col-sm-6 col-form-label">E-Mail Address</label>
                    <div class="col-6">
                        <label name="lblEmailAddress" id="lblEmailAddress"> @Model.AccountDetailsViewModel.Email </label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lblMobile" class="col-sm-6 col-form-label">Phone Number</label>
                    <div class="col-6">
                        <label name="lblMobile" id="lblMobile"> @Model.AccountDetailsViewModel.MobileNo </label>
                    </div>
                </div>
                @*<div class="form-group row">
                        <label for="lblAccountType" class="col-sm-6 col-form-label">Account Type</label>
                        <div class="col-6">
                            <label name="lblAccountType" id="lblAccountType"> @Model.AccountType </label>
                        </div>
                    </div>*@
                <div class="form-group row">
                    <label for="lblAccountStatus" class="col-sm-6 col-form-label">Account Status</label>
                    <div class="col-6">
                        <label name="lblAccountStatus" id="lblAccountStatus"> @Model.AccountDetailsViewModel.AccountStatus </label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lblCustomerId" class="col-sm-6 col-form-label">CIF</label>
                    <div class="col-6">
                        <label name="lblCustomerId" id="lblCustomerId"> @Model.AccountDetailsViewModel.CustomerId </label>
                    </div>
                </div>
            </form>
        }
        else
        {
            <div class="col-lg-12 text-center">
                <label style="font-weight:500;">Could not find account</label>
            </div>
        }
    </div>
</div>

<script>
    let timeoutUrl = "@Url.Content("~/Account/Login")";
    let baseUrl = '@appConfig.BasePath';
    //$(document).ready(() => {
    //     $('#account-information').hide();
    //});


</script>